[neutron_logstreamer]
type = "LogstreamerInput"
log_directory = "/var/log/neutron"
file_match = '(?P<Service>(dhcp-agent|l3-agent|metadata-agent|neutron-netns-cleanup|openvswitch-agent|server))\.log\.?(?P<Seq>\d*)$'
differentiator = ['neutron', '_', 'Service']
priority = ["^Seq"]
decoder = "openstack_decoder"
splitter = "openstack_splitter"
