[horizon_logstreamer]
type = "LogstreamerInput"
log_directory = "/var/log/horizon"
file_match = '(?P<Service>.+)\.log\.?(?P<Seq>\d*)$'
differentiator = ['horizon', '_', 'Service']
priority = ["^Seq"]
decoder = "openstack_decoder"
splitter = "openstack_splitter"
